<settings>

	<setting propertyKey="@Properties.Side" title="@Strings.SideTitle">
        <settingConfig type="list" readonly="true">
			<listEntry value="0">@Strings.SideLeft</listEntry>
            <listEntry value="1">@Strings.SideRight</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.DataField1" title="@Strings.DataField1Title">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.HeartRate</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="4">@Strings.NextSunriseSunset</listEntry>
			<listEntry value="5">@Strings.Distance</listEntry>
			<!-- <listEntry value="6">@Strings.FloorsClimbed</listEntry> -->
			<!-- <listEntry value="7">@Strings.ActiveMinutesWeek</listEntry> -->
			<!-- <listEntry value="8">@Strings.Weather</listEntry> -->
			<!-- <listEntry value="9">@Strings.SystemIndicators</listEntry> -->
			<!-- <listEntry value="11">@Strings.MoveBar</listEntry> -->
			<listEntry value="12">@Strings.RemainingTime</listEntry>
			<!-- <listEntry value="13">@Strings.MetersClimbed</listEntry> -->
			<listEntry value="14">@Strings.Sunrise</listEntry>
			<listEntry value="15">@Strings.Sunset</listEntry>
			<listEntry value="-1">@Strings.Off</listEntry>
		</settingConfig>
	</setting>	
	<setting propertyKey="@Properties.DataField2" title="@Strings.DataField2Title">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.HeartRate</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="4">@Strings.NextSunriseSunset</listEntry>
			<listEntry value="5">@Strings.Distance</listEntry>
			<!-- <listEntry value="6">@Strings.FloorsClimbed</listEntry> -->
			<!-- <listEntry value="7">@Strings.ActiveMinutesWeek</listEntry> -->
			<!-- <listEntry value="8">@Strings.Weather</listEntry> -->
			<!-- <listEntry value="9">@Strings.SystemIndicators</listEntry> -->
			<!-- <listEntry value="11">@Strings.MoveBar</listEntry> -->
			<listEntry value="12">@Strings.RemainingTime</listEntry>
			<!-- <listEntry value="13">@Strings.MetersClimbed</listEntry> -->
			<listEntry value="14">@Strings.Sunrise</listEntry>
			<listEntry value="15">@Strings.Sunset</listEntry>
			<listEntry value="-1">@Strings.Off</listEntry>
		</settingConfig>
	</setting>	
	<setting propertyKey="@Properties.DataField3" title="@Strings.DataField3Title">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.HeartRate</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="4">@Strings.NextSunriseSunset</listEntry>
			<listEntry value="5">@Strings.Distance</listEntry>
			<!-- <listEntry value="6">@Strings.FloorsClimbed</listEntry> -->
			<!-- <listEntry value="7">@Strings.ActiveMinutesWeek</listEntry> -->
			<!-- <listEntry value="8">@Strings.Weather</listEntry> -->
			<!-- <listEntry value="9">@Strings.SystemIndicators</listEntry> -->
			<!-- <listEntry value="11">@Strings.MoveBar</listEntry> -->
			<listEntry value="12">@Strings.RemainingTime</listEntry>
			<!-- <listEntry value="13">@Strings.MetersClimbed</listEntry> -->
			<listEntry value="14">@Strings.Sunrise</listEntry>
			<listEntry value="15">@Strings.Sunset</listEntry>
			<listEntry value="-1">@Strings.Off</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.DataField4" title="@Strings.DataField4Title">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.HeartRate</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="4">@Strings.NextSunriseSunset</listEntry>
			<listEntry value="5">@Strings.Distance</listEntry>
			<!-- <listEntry value="6">@Strings.FloorsClimbed</listEntry> -->
			<!-- <listEntry value="7">@Strings.ActiveMinutesWeek</listEntry> -->
			<!-- <listEntry value="8">@Strings.Weather</listEntry> -->
			<!-- <listEntry value="9">@Strings.SystemIndicators</listEntry> -->
			<!-- <listEntry value="11">@Strings.MoveBar</listEntry> -->
			<listEntry value="12">@Strings.RemainingTime</listEntry>
			<!-- <listEntry value="13">@Strings.MetersClimbed</listEntry> -->
			<listEntry value="14">@Strings.Sunrise</listEntry>
			<listEntry value="15">@Strings.Sunset</listEntry>
			<listEntry value="-1">@Strings.Off</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.DataField5" title="@Strings.DataField5Title">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.HeartRate</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="4">@Strings.NextSunriseSunset</listEntry>
			<listEntry value="5">@Strings.Distance</listEntry>
			<!-- <listEntry value="6">@Strings.FloorsClimbed</listEntry> -->
			<!-- <listEntry value="7">@Strings.ActiveMinutesWeek</listEntry> -->
			<!-- <listEntry value="8">@Strings.Weather</listEntry> -->
			<!-- <listEntry value="9">@Strings.SystemIndicators</listEntry> -->
			<!-- <listEntry value="11">@Strings.MoveBar</listEntry> -->
			<listEntry value="12">@Strings.RemainingTime</listEntry>
			<!-- <listEntry value="13">@Strings.MetersClimbed</listEntry> -->
			<listEntry value="14">@Strings.Sunrise</listEntry>
			<listEntry value="15">@Strings.Sunset</listEntry>
			<listEntry value="-1">@Strings.Off</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.DataField6" title="@Strings.DataField6Title">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="2">@Strings.HeartRate</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<listEntry value="4">@Strings.NextSunriseSunset</listEntry>
			<listEntry value="5">@Strings.Distance</listEntry>
			<!-- <listEntry value="6">@Strings.FloorsClimbed</listEntry> -->
			<!-- <listEntry value="7">@Strings.ActiveMinutesWeek</listEntry> -->
			<!-- <listEntry value="8">@Strings.Weather</listEntry> -->
			<!-- <listEntry value="9">@Strings.SystemIndicators</listEntry> -->
			<!-- <listEntry value="11">@Strings.MoveBar</listEntry> -->
			<listEntry value="12">@Strings.RemainingTime</listEntry>
			<!-- <listEntry value="13">@Strings.MetersClimbed</listEntry> -->
			<listEntry value="14">@Strings.Sunrise</listEntry>
			<listEntry value="15">@Strings.Sunset</listEntry>
			<listEntry value="-1">@Strings.Off</listEntry>
		</settingConfig>
	</setting>

	<setting propertyKey="@Properties.DataBarOuterLeftTop" title="@Strings.DataBarOuterLeftTopTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<!--listEntry value="6">@Strings.FloorsClimbed</listEntry-->
			<!--listEntry value="7">@Strings.ActiveMinutesWeek</listEntry-->
			<!-- <listEntry value="11">@Strings.MoveBar</listEntry> -->
			<listEntry value="-1">@Strings.Off</listEntry>
		</settingConfig>
	</setting>
	<setting propertyKey="@Properties.DataBarInnerRightBottom" title="@Strings.DataBarInnerRightBottomTitle">
		<settingConfig type="list">
			<listEntry value="0">@Strings.Battery</listEntry>
			<listEntry value="1">@Strings.Steps</listEntry>
			<listEntry value="3">@Strings.Calories</listEntry>
			<!--listEntry value="6">@Strings.FloorsClimbed</listEntry-->
			<!--listEntry value="7">@Strings.ActiveMinutesWeek</listEntry-->
			<!-- <listEntry value="11">@Strings.MoveBar</listEntry> -->
			<listEntry value="-1">@Strings.Off</listEntry>
		</settingConfig>
	</setting>   
	
</settings>
